<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Users</h2>
      <ul class="list-group user-list">
        <li class="list-group-item" ng-repeat="user in admin.users">
    	    <div class="user-info">
    	        <strong>{{user.name}}</strong><br>
    	        <span class="text-muted">{{user.email}}</span>
    	    </div>
          <a href="#" ng-click="admin.deleteUser(user)" class="trash">&times;</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Polls</h2>
      <ul class="list-group user-list">
        <li class="list-group-item" ng-repeat="poll in admin.polls">
    	    <div class="user-info">
    	        <strong>{{poll.name}}</strong><br>
    	        <span class="text-muted">Created on {{poll.createdAt | date:medium}} by {{poll.createdBy}}</span>
              <p class="text-muted">
                {{poll.options}}
              </p>
    	    </div>
          <a href="#" ng-click="admin.deletePoll(poll)" class="trash">&times;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
