<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Voter</h1>
    <p class="lead">Make polls and share with friends!</p>
  </div>
</header>

<div class="container">
  <h2 class="page-header">{{pollCtrl.poll.name}}
    <button type="button" class="btn btn-default pull-right" name="button"  ng-show="pollCtrl.isOwner()" ng-hide="pollCtrl.isEditing || !(isVoting)" ng-click="pollCtrl.toggleEdit()">Edit</button>
  </h2>
  <form ng-show="isVoting">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="option in pollCtrl.poll.options">
        <input type="radio" ng-model="$parent.choice" name="choice" value="{{option.answer}}"> &nbsp;{{option.answer}}
        <button type="button" class="btn btn-danger btn-xs pull-right" name="button" ng-show="pollCtrl.isEditing" ng-click="pollCtrl.deleteOption(option)">Delete</button>
      </li>
    </ul>
    <!-- Text input-->
    <div class="form-group" ng-show="pollCtrl.isEditing" style="padding-bottom: 36px">
      <div class="col-md-11">
        <input id="textinput" name="textinput" type="text" placeholder="Option" class="form-control input-md" ng-model="newOption">
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary" name="button" ng-show="pollCtrl.isOwner()" ng-click="pollCtrl.addOption(newOption)">Add</button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="pollCtrl.vote()">Vote!</button>
  </form>

  <div ng-hide="isVoting">
    <canvas id="bar" width="150" height="75" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-legend="legend"></canvas>
  </div>
</div>

<footer></footer>
